.Nav{
	padding: 16px;
	border-bottom: 3px solid blue;
}
.Nav-title{
	font-size: 28rem;
	letter-spacing: 2.5rem;
	font-weight: 900;
	color: var(--main-color);
	background-color: inherit;
}
.Nav-btn{
	margin-left: auto;
}