.Auth{
	width: 90vw;
	max-width: 700px;
	padding: 100px auto;
	margin: auto;
	gap:  50px;
	flex-direction: column;
}
.Auth *{
	width: 100%;
}
.Auth-header{
	font-size: 32rem;
	text-decoration: underline;
	cursor: default;
}

.Auth-submit{
	color: var(--main-color);
	background-color: var(--sec-bgColor);
}

.Auth > h4{
	cursor: pointer;
	font-size: 16rem;
	text-decoration: underline;
}