.ItemSlug{
	width: 90vw;
	max-width: 350px;
	background-color: var(--sec-color);
	color: #000;
}
.ItemSlug-nav{
	min-height: 50px;
	align-items: center;
}
.ItemSlug-header{
	flex: 1;
	font-size: 20rem;
	flex-flow: row wrap;
}
.ItemSlug-price{
	color: red;
	font-style: italic;
	font-weight: 700;
}
.ItemSlug-btn{
	cursor: pointer;
	height: 100%;
}
.ItemSlug-editBtn{
	background-color: #eee;
}
.ItemSlug-expandBtn{
	background-color: var(--sec);
}
.ItemSlug-expanded{
	transform: rotate(0deg);
}

.ItemSlug-notexpanded{
	transform: rotate(180deg);
}
.ItemSlug-body{
	padding: 10px 20px;
	background-color: var(--main-color);
}