.Input, .RadiosInput{
	display: flex;
	flex-direction: column;
	margin: auto;
}
.RadiosInput{
	padding: 10px 20px;
}
.Input > label, .RadiosInput > legend{
	color: var(--main-color);
	font-size: 20rem;
	letter-spacing: 0.8px;
}
.Input > input{
	padding: 5px 10px;
	font-size: 20rem;
	border-radius: 5px;
}

.Input.radio{
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.add-new-radio{
	padding: 10px 10px;
	font-size: 20rem;
}